.scroll-container{
    display: flex;
    flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
}
/* esto es la barra horizontal */

body {
  background-image: url("https://wallpapers.com/images/high/zoom-background-p13tpgvfxfamd9cw.webp");
   background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

.Glass{

background: rgba(255, 255, 255, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}